In [1]:
!curl "https://storage.googleapis.com/kaggle-competitions-data/kaggle/3136/train.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1563508929&Signature=Ga"%"2B6z3K8IkfTi9jqe0T4w0M16hkdKIH7VnCQ6Ta7wsb"%"2Ff"%"2FLf7mtT2d3kom7NaM3H80J"%"2FRrZEA"%"2FpVSrjTVdH5l5rL"%"2F6LZg"%"2Blb"%"2FaBwaRsgyXatBp5eDs188VYWDu3mV9G2nYK1"%"2BAW2KCBgY5PYoYbyd4rukg"%"2BqY"%"2BSbeqXiLeRjQyFXvgksZotoOX"%"2FjBCYXI8dqT6nScG"%"2Bh1ppitq9v8N4O5RV7DTmzvgJlp7O"%"2FZCK3HwPHMPUAmMOB"%"2BGv"%"2B8rH45BHz8E784"%"2BRY5DiFGht3gSoTEGKXaJJsn94TRzUu8"%"2FZXjsKMyCYcbXHS0Oa6ytTGUe7tKo5joyLK61LmpI3pBwpbKg"%"3D"%"3D" -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:68.0) Gecko/20100101 Firefox/68.0" -H "Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" -H "Accept-Language: en-US,en;q=0.5" --compressed -H "Referer: https://www.kaggle.com/" -H "DNT: 1" -H "Connection: keep-alive" -H "Upgrade-Insecure-Requests: 1" -H "TE: Trailers" -o train.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100 61194  100 61194    0     0  49630      0  0:00:01  0:00:01 --:--:-- 49832

In [2]:
import numpy as np
import pandas as pd
import keras
import sklearn
import seaborn as sns

C:\Users\XRNiraj\Anaconda3\envs\tensor\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
train = pd.read_csv('train.csv',low_memory = False)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
y = train.Survived

In [12]:
train_data = pd.read_csv('trainee_train_without_index.csv',low_memory = False)
test_data = pd.read_csv('testii_save.csv',low_memory = False)

In [10]:
from keras.layers import Dropout,Dense

In [83]:
from keras import Sequential
model = Sequential()

In [ ]:
model.add(Dense(64,activation = 'relu',))

In [13]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
0              418 non-null float64
1              418 non-null float64
2              418 non-null float64
3              418 non-null float64
4              418 non-null float64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null float64
Fare           418 non-null float64
Embarked       418 non-null int64
Name_length    418 non-null int64
Family_size    418 non-null float64
fam_isnull     418 non-null bool
dtypes: bool(1), float64(8), int64(4)
memory usage: 39.7 KB

In [14]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
0              891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
4              891 non-null float64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
Fare           891 non-null float64
Embarked       891 non-null int64
Name_length    891 non-null int64
Family_size    891 non-null int64
fam_isnull     891 non-null bool
dtypes: bool(1), float64(7), int64(5)
memory usage: 84.5 KB

In [15]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test,y_train,y_test = train_test_split(train_data,y,test_size = 0.22, random_state = 2323)

In [18]:
x_train.shape

(694, 13)

In [19]:
x_test.shape

(197, 13)

In [84]:
model.add(Dense(612,input_dim = 13,activation = 'relu'))
model.add(Dense(253,activation = 'relu'))
model.add(Dropout(0.5))
model.add(Dense(123,activation = 'relu'))
model.add(Dropout(0.5))
model.add(Dense(53,activation = 'relu'))
model.add(Dense(32,activation = 'relu'))
model.add(Dense(10,activation = 'relu'))
model.add(Dropout(0.3))
model.add(Dense(4,activation = 'relu'))

model.add(Dense(1,activation = 'sigmoid'))

In [85]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 612)               8568
_________________________________________________________________
dense_17 (Dense)             (None, 253)               155089
_________________________________________________________________
dropout_4 (Dropout)          (None, 253)               0
_________________________________________________________________
dense_18 (Dense)             (None, 123)               31242
_________________________________________________________________
dropout_5 (Dropout)          (None, 123)               0
_________________________________________________________________
dense_19 (Dense)             (None, 53)                6572
_________________________________________________________________
dense_20 (Dense)             (None, 32)                1728
_________________________________________________________________
dense_21 (Dense)             (None, 10)                330
_________________________________________________________________
dropout_6 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_22 (Dense)             (None, 4)                 44
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 5
=================================================================
Total params: 203,578
Trainable params: 203,578
Non-trainable params: 0
_________________________________________________________________

In [86]:
model.compile(optimizer = 'adam',loss = 'binary_crossentropy',metrics = ['accuracy'])

In [87]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_16 (Dense)             (None, 612)               8568
_________________________________________________________________
dense_17 (Dense)             (None, 253)               155089
_________________________________________________________________
dropout_4 (Dropout)          (None, 253)               0
_________________________________________________________________
dense_18 (Dense)             (None, 123)               31242
_________________________________________________________________
dropout_5 (Dropout)          (None, 123)               0
_________________________________________________________________
dense_19 (Dense)             (None, 53)                6572
_________________________________________________________________
dense_20 (Dense)             (None, 32)                1728
_________________________________________________________________
dense_21 (Dense)             (None, 10)                330
_________________________________________________________________
dropout_6 (Dropout)          (None, 10)                0
_________________________________________________________________
dense_22 (Dense)             (None, 4)                 44
_________________________________________________________________
dense_23 (Dense)             (None, 1)                 5
=================================================================
Total params: 203,578
Trainable params: 203,578
Non-trainable params: 0
_________________________________________________________________

In [72]:
model.fit(x_train,y_train,epochs =50,batch_size = 64)

Epoch 1/50
694/694 [==============================] - 0s 483us/step - loss: 0.9063 - acc: 0.5793
Epoch 2/50
694/694 [==============================] - 0s 47us/step - loss: 0.6667 - acc: 0.6585
Epoch 3/50
694/694 [==============================] - 0s 56us/step - loss: 0.6490 - acc: 0.6513
Epoch 4/50
694/694 [==============================] - 0s 49us/step - loss: 0.6470 - acc: 0.6340
Epoch 5/50
694/694 [==============================] - 0s 49us/step - loss: 0.6210 - acc: 0.6729
Epoch 6/50
694/694 [==============================] - 0s 47us/step - loss: 0.6318 - acc: 0.6700
Epoch 7/50
694/694 [==============================] - 0s 54us/step - loss: 0.6012 - acc: 0.6888
Epoch 8/50
694/694 [==============================] - 0s 53us/step - loss: 0.6186 - acc: 0.6599
Epoch 9/50
694/694 [==============================] - 0s 45us/step - loss: 0.6079 - acc: 0.6960
Epoch 10/50
694/694 [==============================] - 0s 35us/step - loss: 0.6106 - acc: 0.6830
Epoch 11/50
694/694 [==============================] - 0s 50us/step - loss: 0.6014 - acc: 0.6758
Epoch 12/50
694/694 [==============================] - 0s 47us/step - loss: 0.5882 - acc: 0.7061
Epoch 13/50
694/694 [==============================] - 0s 37us/step - loss: 0.5922 - acc: 0.7003
Epoch 14/50
694/694 [==============================] - 0s 40us/step - loss: 0.5913 - acc: 0.7017
Epoch 15/50
694/694 [==============================] - 0s 52us/step - loss: 0.5847 - acc: 0.6916
Epoch 16/50
694/694 [==============================] - 0s 47us/step - loss: 0.5916 - acc: 0.6988
Epoch 17/50
694/694 [==============================] - 0s 39us/step - loss: 0.5629 - acc: 0.7089
Epoch 18/50
694/694 [==============================] - 0s 43us/step - loss: 0.5798 - acc: 0.6988
Epoch 19/50
694/694 [==============================] - 0s 53us/step - loss: 0.5587 - acc: 0.7161
Epoch 20/50
694/694 [==============================] - 0s 27us/step - loss: 0.5607 - acc: 0.6988
Epoch 21/50
694/694 [==============================] - 0s 43us/step - loss: 0.5459 - acc: 0.7161
Epoch 22/50
694/694 [==============================] - 0s 27us/step - loss: 0.5619 - acc: 0.7219
Epoch 23/50
694/694 [==============================] - 0s 22us/step - loss: 0.5494 - acc: 0.7205
Epoch 24/50
694/694 [==============================] - 0s 19us/step - loss: 0.5490 - acc: 0.7219
Epoch 25/50
694/694 [==============================] - 0s 29us/step - loss: 0.5466 - acc: 0.7262
Epoch 26/50
694/694 [==============================] - 0s 39us/step - loss: 0.5300 - acc: 0.7349
Epoch 27/50
694/694 [==============================] - 0s 45us/step - loss: 0.5152 - acc: 0.7450
Epoch 28/50
694/694 [==============================] - 0s 53us/step - loss: 0.5140 - acc: 0.7522
Epoch 29/50
694/694 [==============================] - 0s 76us/step - loss: 0.5187 - acc: 0.7305
Epoch 30/50
694/694 [==============================] - 0s 63us/step - loss: 0.5169 - acc: 0.7421
Epoch 31/50
694/694 [==============================] - 0s 72us/step - loss: 0.5044 - acc: 0.7507
Epoch 32/50
694/694 [==============================] - 0s 62us/step - loss: 0.4970 - acc: 0.7493
Epoch 33/50
694/694 [==============================] - 0s 56us/step - loss: 0.5024 - acc: 0.7695
Epoch 34/50
694/694 [==============================] - 0s 78us/step - loss: 0.4926 - acc: 0.7723
Epoch 35/50
694/694 [==============================] - 0s 46us/step - loss: 0.5115 - acc: 0.7507
Epoch 36/50
694/694 [==============================] - 0s 73us/step - loss: 0.5080 - acc: 0.7709
Epoch 37/50
694/694 [==============================] - 0s 65us/step - loss: 0.5111 - acc: 0.7579
Epoch 38/50
694/694 [==============================] - 0s 30us/step - loss: 0.4747 - acc: 0.7839
Epoch 39/50
694/694 [==============================] - 0s 31us/step - loss: 0.4835 - acc: 0.7709
Epoch 40/50
694/694 [==============================] - 0s 49us/step - loss: 0.4791 - acc: 0.7824
Epoch 41/50
694/694 [==============================] - 0s 39us/step - loss: 0.4919 - acc: 0.7767
Epoch 42/50
694/694 [==============================] - 0s 25us/step - loss: 0.5013 - acc: 0.7622
Epoch 43/50
694/694 [==============================] - 0s 19us/step - loss: 0.4592 - acc: 0.7983
Epoch 44/50
694/694 [==============================] - 0s 19us/step - loss: 0.4867 - acc: 0.7954
Epoch 45/50
694/694 [==============================] - 0s 20us/step - loss: 0.4642 - acc: 0.7939
Epoch 46/50
694/694 [==============================] - 0s 40us/step - loss: 0.4567 - acc: 0.7954
Epoch 47/50
694/694 [==============================] - 0s 37us/step - loss: 0.4693 - acc: 0.7983
Epoch 48/50
694/694 [==============================] - 0s 52us/step - loss: 0.4715 - acc: 0.7983
Epoch 49/50
694/694 [==============================] - 0s 59us/step - loss: 0.4649 - acc: 0.7896
Epoch 50/50
694/694 [==============================] - 0s 66us/step - loss: 0.4734 - acc: 0.7925

In [41]:
!curl "https://storage.googleapis.com/kaggle-competitions-data/kaggle/3136/test.csv?GoogleAccessId=web-data@kaggle-161607.iam.gserviceaccount.com&Expires=1563510360&Signature=kEIzeg"%"2FyNswe6UsEsdkIGQ0JsJsY2CwtAjWk8SnW4DSYBH0xQ18GSEaTaIpP9rKG66hqccZBwrvOitEIj9XL9XX5e1HYVrtlNn3mFZSn6I"%"2F7VRBCKr9YzVRLPRbcAidPDEMA"%"2FfsBagDB1"%"2FqpW5N2tOD"%"2BXGMWei6R36YmeQTNuEMFGa2FX4gA8UlSKJSDi"%"2BFr33wG"%"2BqEJ"%"2FZzMndAp2AZ1xE3dKZ0SY6ICTX5keps"%"2FilDdojW2TMqbR5P7JaHkxP"%"2F6XZ6"%"2F4ia1M7txpg6xqGqaPTPvI1QNTp8kyl45rMOOsUyQSZ7tPW2yw1WeSpqwIU5cO4kMGFUlTy5jP"%"2B4vG5bf7A"%"3D"%"3D" -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:68.0) Gecko/20100101 Firefox/68.0" -H "Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" -H "Accept-Language: en-US,en;q=0.5" --compressed -H "Referer: https://www.kaggle.com/" -H "DNT: 1" -H "Connection: keep-alive" -H "Upgrade-Insecure-Requests: 1" -o test.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:03 --:--:--     0
100 28629  100 28629    0     0   8193      0  0:00:03  0:00:03 --:--:--  8193

In [42]:
testt = pd.read_csv('test.csv')

In [55]:
suv = pd.DataFrame({'PassengerId':[testt['PassengerId']],'Survived':[y_pred]})

In [58]:
suv.head().Transpose()

AttributeError: 'DataFrame' object has no attribute 'Transpose'

In [51]:
testt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [59]:
testt.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [60]:
s = pd.DataFrame()

In [61]:
s

Empty DataFrame
Columns: []
Index: []

In [62]:
type(s)

pandas.core.frame.DataFrame

In [63]:
s['PassengerId'] = testt.PassengerId

In [167]:
s['Survived'] = y_pred

In [168]:
s.to_csv('random_submission_w2.csv',index = False)

In [73]:
y_pred = model.predict_classes(x_test)

In [74]:
from sklearn.metrics import f1_score,accuracy_score

In [75]:
print(f1_score(y_test,y_pred))

0.7142857142857143

In [76]:
accuracy_score(y_test,y_pred)

0.7766497461928934

In [90]:
model.fit(train_data,y,epochs = 10,batch_size = 32)

Epoch 1/10
891/891 [==============================] - 0s 182us/step - loss: 0.4108 - acc: 0.8193
Epoch 2/10
891/891 [==============================] - 0s 156us/step - loss: 0.4232 - acc: 0.8260
Epoch 3/10
891/891 [==============================] - 0s 141us/step - loss: 0.4087 - acc: 0.8238
Epoch 4/10
891/891 [==============================] - 0s 146us/step - loss: 0.4201 - acc: 0.8316
Epoch 5/10
891/891 [==============================] - 0s 152us/step - loss: 0.4181 - acc: 0.8227
Epoch 6/10
891/891 [==============================] - 0s 150us/step - loss: 0.4048 - acc: 0.8260
Epoch 7/10
891/891 [==============================] - 0s 272us/step - loss: 0.4262 - acc: 0.8272
Epoch 8/10
891/891 [==============================] - 0s 229us/step - loss: 0.4050 - acc: 0.8294
Epoch 9/10
891/891 [==============================] - 0s 152us/step - loss: 0.4086 - acc: 0.8272
Epoch 10/10
891/891 [==============================] - 0s 150us/step - loss: 0.4050 - acc: 0.8238

In [91]:
y_pred = model.predict_classes(test_data)

In [95]:
train_data.head()

,0,1,2,3,4,Pclass,Sex,Age,Fare,Embarked,Name_length,Family_size,fam_isnull
0,1.0,1.0,-1.0,1.0,1.0,3,1,22.0,7.2500,3,23,1,False
1,1.0,0.0,0.0,1.0,0.0,1,0,38.0,71.2833,2,51,1,False
2,1.0,2.0,0.0,-3.0,0.0,3,0,26.0,7.9250,3,22,0,True
3,2.0,0.0,-2.0,-1.0,-1.0,1,0,35.0,53.1000,3,44,1,False
4,3.0,0.0,-1.0,1.0,-1.0,3,1,35.0,8.0500,3,24,0,True

In [96]:
from sklearn.ensemble import RandomForestClassifier

In [98]:
mo = RandomForestClassifier(n_estimators = 100,max_features = 0.5,max_depth = 4)

In [100]:
mo.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=3, max_features=0.5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [101]:
y_predi = mo.predict(x_test)

In [102]:
f1_score(y_test,y_predi)

0.7516778523489932

In [103]:
accuracy_score(y_test,y_predi)

0.8121827411167513

In [157]:
mode = sklearn.ensemble.ExtraTreesClassifier(n_estimators  = 120,max_depth = 4,max_features = np.log(2))

In [158]:
mode.fit(x_train,y_train)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=4, max_features=0.6931471805599453,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=120, n_jobs=None, oob_score=False,
           random_state=None, verbose=0, warm_start=False)

In [159]:
yre = mode.predict(x_test)

In [160]:
f1_score(y_test,yre)

0.7448275862068965

In [161]:
accuracy_score(y_test,yre)

0.8121827411167513

In [137]:
mode.score(x_train,y_train)

0.8270893371757925

In [138]:
mode.fit(train_data,y)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=4, max_features=0.6931471805599453,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=100, n_jobs=None, oob_score=False,
           random_state=None, verbose=0, warm_start=False)

In [164]:
y_predii = mode.predict(test_data)

In [162]:
mo.fit(train_data,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=3, max_features=0.5, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [163]:
y_pred = mo.predict(test_data)

In [165]:
f1_score(y_pred,y_predii)

0.9627118644067796

In [166]:
accuracy_score(y_pred,y_predii)

0.9736842105263158

In [169]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
0              891 non-null float64
1              891 non-null float64
2              891 non-null float64
3              891 non-null float64
4              891 non-null float64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null float64
Fare           891 non-null float64
Embarked       891 non-null int64
Name_length    891 non-null int64
Family_size    891 non-null int64
fam_isnull     891 non-null bool
dtypes: bool(1), float64(7), int64(5)
memory usage: 84.5 KB

In [170]:
mode.export()

AttributeError: 'ExtraTreesClassifier' object has no attribute 'export'

In [171]:
import pickle

In [174]:
pickle.dump(mode, open('model.pkl', 'wb'))

In [175]:
train_data.head()

,0,1,2,3,4,Pclass,Sex,Age,Fare,Embarked,Name_length,Family_size,fam_isnull
0,1.0,1.0,-1.0,1.0,1.0,3,1,22.0,7.2500,3,23,1,False
1,1.0,0.0,0.0,1.0,0.0,1,0,38.0,71.2833,2,51,1,False
2,1.0,2.0,0.0,-3.0,0.0,3,0,26.0,7.9250,3,22,0,True
3,2.0,0.0,-2.0,-1.0,-1.0,1,0,35.0,53.1000,3,44,1,False
4,3.0,0.0,-1.0,1.0,-1.0,3,1,35.0,8.0500,3,24,0,True

In [176]:
from sklearn.linear_model import LogisticRegression

In [177]:
same = LogisticRegression()

In [178]:
same.fit(x_train,y_train)

C:\Users\XRNiraj\Anaconda3\envs\tensor\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [180]:
logsi_pred = same.predict(x_test)

In [181]:
f1_score(y_test,logsi_pred)

0.7297297297297298

In [182]:
accuracy_score(y_test,logsi_pred)

0.7969543147208121